extends ../layout

//-  header
block head
  title #{dj.username}'s Party

block css
  link(rel="stylesheet", type="text/css", href="/stylesheets/djplayer.css")

block js
  script(type="text/javascript", src="/js/djplayer.js")
  script(type="text/javascript", src="/js/guest.js")

//-  body

block sidebar
  if dj
    include ./sidebar.jade
  else
    include ../guest/sidebar.jade

block title
  h1(id='pagetitle') #{dj.username} - #{dj.currentPlaylist.title}
  h2(id='songtitle')

block content
  div(class="contentarea")
      div(class="playlistcontainer")
        each song, index in dj.currentPlaylist.songs
          div(class="playlistsong", id="#{song.id}")
            div(class="votebox")
              button(class="voteboxvote", onclick="upvote('#{song.id}');")
                i(class="fa fa-chevron-up")
              button(class="voteboxvote", onclick="downvote('#{song.id}');")
                i(class="fa fa-chevron-down")
            div(class="voteboxnumber", id="score-#{song.id}") #{song.score}
            div(class='titleoverflow') #{song.title}