html
  head
    title #{dj.username}
    link(rel="stylesheet", type="text/css", href="/stylesheets/djplayer.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/djplayer.js")
    script(type="text/javascript", src="/js/youtube.js")
    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/socket.js")
body
  div(class="container")
    h1 #{dj.username} - #{dj.currentPlaylist.title}
    div(class="contentarea")
      div(id="player", class="video")
      div(class="progressbarcontainer")
        button(id="progressbarplaypause", onclick="playPause();") >
        div(class="progressbar")
        div(class="progressbartime") 4:20

  button(id="sidebartoggle", onclick="showSidebar();")
    i(id="sidebartoggleicon", class="fa fa-caret-left")
  div(id="sidebar")
    div(id="sidebarmainmenu")
      div(class="sidebartitlebar")
        h1 Menu
      if dj.currentPlaylist
        div(class="sidebarmainmenuitem", onclick="clickPlaylist();") Current Playlist - #{dj.currentPlaylist.title}
      div(class="sidebarmainmenuitem", onclick="clickPlaylists();") Playlists
      div(class="sidebarmainmenuitem", onclick="clickSearch();") Search Songs
      div(class="sidebarmainmenuitem", onclick="expandSidebar();") Login As DJ
      div(class="sidebarmainmenuitem", onclick="expandSidebar();") Other Stuff
      div(class="sidebarmainmenuitem", onclick="expandSidebar();") We Might
      div(class="sidebarmainmenuitem", onclick="expandSidebar();") Want Later
    
    div(id="sidebarplaylistmenu")
      div(class="sidebartitlebar")
        button(class="sidebarbackbutton", onclick="clickBack();")
          i(class="fa fa-arrow-left")
        h1(style="display:inline;") #{dj.currentPlaylist.title}

      div(id="sidebarplaylistcontainer", class="sidebarplaylistcontainer")
        each song, index in dj.currentPlaylist.songs
          div(class="playlistsong", id="#{song.id}")
            div(class="votebox")
              button(class="voteboxvote") +
              button(class="voteboxvote") -
            div(class="voteboxnumber") 69
            a(href="#", onclick="selectSong('#{song.id}');") #{song.title}
            button(class="songx", onclick="delSong('#{song.id}');") x

    div(id="sidebarplaylistsmenu")
      div(class="sidebartitlebar")
        button(class="sidebarbackbutton", onclick="clickBack();")
          i(class="fa fa-arrow-left")
        h1(style="display:inline;") Playlists

      div(class="sidebarplaylistcontainer")
        each playlist,index in dj.playlists
          div(class="playlistsong")
            form(action='/dj/set/current', method='POST')
              input(type='hidden', name='playlist', value='#{playlist.title}')
              button(type='submit') <b>#{index+1}</b>. #{playlist.title}
            button(class="songx") x  

    div(id="sidebarsearchmenu")
      div(class="sidebartitlebar")
        button(class="sidebarbackbutton", onclick="clickBack();")
          i(class="fa fa-arrow-left")
        h1(style="display:inline;") Search Songs

      div(class="searchbar")
        input(id="searchinput", placeholder="Search for a Song", onkeypress="searchKeyPress();")
        button(class="searchbutton", onclick="search();") GO
      
          
      div(id="searchresults")
        //- div(class="playlistsong")
        //-   div(class="votebox")
        //-     button(class="voteboxvote") +
        //-     button(class="voteboxvote") -
          
        //-   div(class="voteboxnumber") 6
        //-   p Michael Jackson - Thriller
        //-   button(class="songx") x
        
        //- div(class="playlistsong")
        //-   button(class="songadd") ADD
        //-   p Jesse James - 50's Japan
        
        //- div(class="playlistsong")
        //-   button(class="songadd") ADD
        //-   p Tennyson - No Answer
      
      button(class="showmore") Show more resluts

  div(id="sidebarshadow")