button(id="sidebartoggle", onclick="showSidebar();")
    i(id="sidebartoggleicon", class="fa fa-caret-left")
  div(id="sidebar")
    div(id="sidebarmainmenu")
      //- Side Bar Title
      div(class="sidebartitlebar")
        h1 Menu
      if dj
        if dj.currentPlaylist
          button(id="currentPlaylistMenu", class="sidebarmenuitem", onclick="clickPlaylist();") Current Playlist - #{dj.currentPlaylist.title}
        button(class="sidebarmenuitem", onclick="clickSearch();") Search Songs
        button(class="sidebarmenuitem", onclick="clickSuggested();") Suggested Songs
        button(class="sidebarmenuitem", onclick="clickPlaylistManager();") Manage Playlists
        a(href="/dj/signout"): button(class="sidebarmenuitem") Sign Out
      else
        button(class="sidebarmenuitem", onclick="clickLogin();") Login As DJ

    //- QR Code
    div(class="sidebarqr" style= "background-image: url('/images/#{dj._id}.svg');")

    div(id="sidebarcurrentplaylist", class="sidemenu")
      div(class="sidebartitlebar")
        button(class="sidebarbackbutton", onclick="clickBack();")
          i(class="fa fa-arrow-left")
        h1(id='currentPlaylistTitle', style="display:inline;") #{dj.currentPlaylist.title}

      div(class="sidebarplaylistcontainer")
        div(id='sidebarplaylistcontainer')
          each song, index in dj.currentPlaylist.songs
              div(class="playlistsong", id="#{song.id}")
                div(class="votebox")
                  button(class="voteboxvote", onclick="upvote('#{song.id}');")
                    i(class="fa fa-chevron-up")
                  button(class="voteboxvote", onclick="downvote('#{song.id}');")
                    i(class="fa fa-chevron-down")
                div(class="voteboxnumber", id="score-#{song.id}") #{song.score}
                div(class='ptitle', onclick="selectSongSocket('#{song.id}','#{song.title}');") #{song.title}
                button(class="songx", onclick="delSong('#{song.id}');") x
        div(id='donezos')

    div(id="sidebarsearchmenu", class="sidemenu")
      div(class="sidebartitlebar")
        button(class="sidebarbackbutton", onclick="clickBack();")
          i(class="fa fa-arrow-left")
        h1(style="display:inline;") Search Songs

      div(class="searchbar")
        input(id="searchinput", class="searchinput", placeholder="Search for a Song", onkeypress="searchKeyPress();")
        button(class="searchbutton", onclick="search();")
          i(class="fa fa-search")
      
      div(id="searchresults", class="sidebarplaylistcontainer")

    div(id="sidebarsuggestedmenu", class="sidemenu")
      div(class="sidebartitlebar")
        button(class="sidebarbackbutton", onclick="clickBack();")
          i(class="fa fa-arrow-left")
        h1(style="display:inline;") Suggested Songs
      div(id="suggestedresults", class="sidebarplaylistcontainer")

    div(id="sidebarplaylistmanager", class="sidemenu")
      div(class="sidebartitlebar")
        button(class="sidebarbackbutton", onclick="clickBack();")
          i(class="fa fa-arrow-left")
        h1(style="display:inline;") Manage Playlists
      div(class="searchbar")
        input(id='newplaylistinput', class="searchinput", placeholder="Add a new playlist", onkeypress="addPlaylistKeypress();")
        button(class="searchbutton", onclick='addPlaylist();')
          i(class="fa fa-plus")
      div(id='playlistmanager', class="sidebarplaylistcontainer")
        each playlist, index in dj.playlists
          div(id='playlist-'+playlist.title, class="playlistsong")
            button(class="songadd", onclick="changePlaylist('"+playlist.title+"');")
              i(class="fa fa-caret-right")
            span #{playlist.title}
            button(class="songx", onclick="deletePlaylist('"+playlist.title+"');") x

    if !(dj)
      div(id="sidebarlogin", class="sidemenu")
        div(class="sidebartitlebar")
          button(class="sidebarbackbutton", onclick="clickBack();")
            i(class="fa fa-arrow-left")
          h1(style="display:inline;") Log in as DJ

        form(class='form-signin', action='/dj/signin', method='POST')
          div(class="searchbar")
            input(type='text', name='username', class="searchinput", placeholder="User Name", required)

          div(style="height: 10px;")

          div(class="searchbar")
            input(type="password", name='password', class="searchinput", placeholder="Password", required)
            button(class="searchbutton", type='submit')
              i(class="fa fa-check")
        a(href='/dj/signup', class='text-center new-account') Create an account
          #message
          if message
            h1.text-center.error-message #{message}
          
  div(id="sidebarshadow")